# Demographic Data Analyzer

**This notebook addresses project 2 of the course at freecodecamp.org**
> https://www.freecodecamp.org/learn/data-analysis-with-python/project-2-analyze-tabular-data

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. You must use Pandas to answer the following questions

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resources/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.shape

(32561, 15)

In [4]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

---

> ##### 1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [6]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [7]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

> ##### 2. What is the average age of men?

In [8]:
round(df.loc[df['sex'] == 'Male']['age'].mean(),1)

39.4

In [9]:
#this is more efficient
round(df['age'].loc[df['sex'] == 'Male'].mean(),1)

39.4

In [10]:
round(df['age'].loc[df['sex'] == 'Male'].mean(),1)

39.4

> ##### 3. What is the percentage of people who have a Bachelor's degree?

In [11]:
round((df['education'] == 'Bachelors').sum()/df['education'].count()*100,2)

16.45

In [12]:
#more effective
round(df['education'].value_counts(normalize=True)['Bachelors']*100,1)

16.4

> ##### 4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K??

In [13]:
round(df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']),'salary'].value_counts(normalize=True)['>50K']*100,1)

46.5

> ##### 5. What percentage of people without advanced education make more than 50K?

In [14]:
round(df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']),'salary'].value_counts(normalize=True)['>50K']*100,1)

17.4

> ##### 6. What is the minimum number of hours a person works per week?

In [15]:
df['hours-per-week'].min()

1

> ##### 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [16]:
round(df.loc[df['hours-per-week'] == df['hours-per-week'].min(),'salary'].value_counts(normalize=True)['>50K']*100,1)

10.0

> ##### 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [17]:
# Calculate the percentage of people earning >50K by country
percentage_by_country = df.loc[df['salary'] == '>50K'].groupby('native-country').size() / df.groupby('native-country').size()
percentage_by_country.idxmax(), round(percentage_by_country.max()*100,1)

('Iran', 41.9)

In [18]:
# I prefer this solution
percentage_by_country = df.groupby('native-country')['salary'].value_counts(normalize=True).loc[:,'>50K']
percentage_by_country.idxmax(), round(percentage_by_country.max()*100,1)

('Iran', 41.9)

> ##### 9. Identify the most popular occupation for those who earn >50K in India.

In [19]:
df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'